# HuggingFace token for pyannote.audio model download only
# Get from: https://huggingface.co/settings/tokens
HF_TOKEN=

# FTP credentials (if FTP enabled)
FTP_IP_ADDRESS=
FTP_USERNAME=
FTP_PASSWORD=

# SMTP credentials for email reports (required if using --email flag)
SMTP_USERNAME=
SMTP_PASSWORD=
